@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
html{
    scroll-behavior: smooth;
}
.wrapper{
max-width: 1445px;
font-family: 'Roboto', sans-serif;
font-size: 18px;
background-color: #ffffff;
margin: 0 auto;
padding: 0;
}

h2{
    color: #070707;
    font-size: 34px;
}
.page-header{
    max-width: 940px;
    margin: 0  auto;
}
.nav{
    padding: 32px 0;
    border-bottom: 1px solid #828282;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.navigation-item{
    list-style: none;
    text-decoration: none;
}
.navigation-link{
    text-decoration: none;
    color: #828282;
}
.header__button-btn{
    display: none;
    position: relative;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
}
.span-btn {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #070707;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.page-header.open .header__button-btn .span-btn:nth-child(2){
    opacity: 0;
}
.page-header.open .header__button-btn .span-btn:nth-child(1){
    transform: translateX(0) rotate(45deg);
}
.page-header.open .header__button-btn .span-btn:nth-child(3){
    transform: translateX(0) rotate(-45deg);
}
.span-btn:nth-child(1){
    transform: translateY(-10px);
}
.span-btn:nth-child(3){
    transform: translateY(10px);
}
 .current{
    color: #070707;
    font-weight: 700;
    margin: 0;
}
.me{
    max-width: 940px;
    margin: 0 auto;
}
.me-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}
.name{
    margin-top: 39.69px;
}
.profession{
    margin-top: 94.77px;
}
.language-list{
    display: flex;
    list-style-type: none;
    transform: rotate(-90deg)
    translatex(-100px)
    translateY(50px);

    
}
.language-item{
    margin-left: 10px;
}
.language-link--ru{
    text-decoration: none;
    background-color: #ffffff;
    border: none;
    color: #828282;
    cursor: pointer;
}
.language-link--ru:hover{
    color: #070707;
    font-weight: 700;
}
.language-link--eng{
    text-decoration: none;
    background-color: #ffffff;
    color: #070707;
    font-weight: 700;
    padding-left: 10px;
    border: none;
    border-left: 2px solid #070707;
    cursor: pointer;
}

.my-photo{
    margin-bottom: 104px;
}
.Advantages{
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me{
    color: #070707;
    margin-top: 120px;
    margin-bottom: 18px;
    font-size: 34px;
}
.about-me-list{
    max-width: 1445px;
}
.about-me-item{
list-style-type: none;
font-size: 18px;
color: #070707;
}

.about-me-list:last-child{
    margin-bottom: 107px;
}
.skill{
    max-width: 940px;
    margin: 0 auto;
}
.me-skill{
    text-align: center;
    margin-top: 90px;
}
.me-skill-work{
    text-align: center;
    font-size: 14px;
    margin-top: 70px;
}
.programs-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 83px;
    margin-bottom: 110px;
}
.programs-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}
.p-programs{
    margin-left: 0;
    margin-right: 0;
}
.portfolio{
    text-align: center;
    margin-top: 112px;
    margin-bottom: 47px;
}
.my-work{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
}
.container{
    margin-bottom: 166px;
}
.container-item{
    display: flex;
    flex-direction: column;
}
.container-item:not(:first-child){
    margin-top: 100px;
}

.signature{
    margin-top: 44px;
    text-align: center;
}
.link-work{
    color: #070707;
    font-size: 18px;
}
.page-footer{
    position: relative;
    max-width: 1445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacts{
    margin: 0 auto;
    margin-top: 114px;
}
.chat{
    margin: 0 auto;
    margin-top: 20px;
}
.button-message{
    width: 180px;
    height: 42px;
    background-color: #070707;
    color: #ffffff;
    border-radius: 50px;
    margin: 30px auto 80px auto;
}
.contact-list{
    position: relative;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.visually-hiden{
    visibility: hidden;
}

.contact-link{
    text-decoration: none;
    display: block;
    height: 40px;
}
.what{
    background-image: url(./assets/inst.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.instagram{
    background-image: url(./assets/insta.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.behance{
    background-image: url(./assets/behance.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.surface{
    background-image: url(./assets/surface.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.end{
    font-size: 14px;
    color: #070707;
    text-align: center;
    font-weight: 300;
}
.contact-end{
    font-size: 14px;
    color: #070707;
    text-align: center;
    margin-bottom: 123px;
}


@media screen and (max-width: 640px) {
    .me-list{
        display: flex;
        flex-direction: column;
    }
    .language-item{
        display: none;
    }
}


@media screen and (max-width: 590px) {
    .me-list{
        display: flex;
        flex-direction: column;
    }
    .language-item{
        display: none;
    }
    .programs-list{
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (max-width: 450px) {
     .navigation{
        display: block;
        position: fixed;
        top: 0;
        left: -485px;
        padding: 75px 20px 20px 20px;
        background-color: #ffffff;
        width: 450px;
        height: 100%;
        transition: transform .5s;
     }
     .navigation-item:not(:last-child){
        margin:68px 0;
        font-size: 34px; 
     }
     .page-header.open .navigation{
        transform: translateX(100%);
     }
     .header__button-btn{
        display: block;
        position: fixed;
        z-index: 3;
        
     }

    .profession{
        margin-top: 23px;
    }
    .me-list{
        display: flex;
        flex-direction: column;
    }
    .language-item{
        display: none;
    }
    .programs-list{
        display: flex;
        flex-direction: column;
    }
}